@import "vars";

@mixin button($bg: transparent, $border: none) {
  border: $border;
  background: $bg;
  cursor: pointer;
}

@mixin svg($width, $color: transparent, $height: $width, $stroke: none) {
  width: $width;
  height: $height;
  fill: $color;
  stroke: $stroke;
}

@mixin setFont(
  $size,
  $weight,
  $color: $color-text,
  $family: $font-fam-primary
) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;
}

@mixin flexCol($layout: center, $align: center) {
  display: flex;
  justify-content: $layout;
  align-items: $align;
}

@mixin bgWebp($src, $srcSet) {
  background-image: url($src); /* Fallback image */

  @supports (background-image: url($srcSet)) {
    background-image: url($srcSet);
  }
}

%field {
  background: $color-grey;
  height: 48px;
  padding-inline: 12px;
  border-radius: 8px;
  @include flexCol(space-between);
  @include setFont(14px, 500);
  border: 1px solid transparent;
  transition: $transition;
}

%field_active {
  border-color: $color-text;
}

%field_invalid {
  background: #e74c3c1a;
  border-color: $color-coral;
}
