// fonts

$font-fam-primary: "Prompt", serif;

// colors

$color-text: #ffffff;
$color-primary: #4323FF;
$color-bg: #1D1D1F;
$color-grey: #2F2F31;
$color-coral: #E74C3C;
$color-coral-text: #FF6A55;

$transition: all 0.3s;
