@import "../../../styles/mixins";
@import "../../../styles/vars";

.fieldWithLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__text {
    @include setFont(14px, 500);
    @include flexCol(flex-start);
    gap: 8px;
    margin-bottom: 12px;
  }

  &__errorTxtWrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  &__errorTxt {
    margin-top: 8px;
    @include setFont(14px, 400, $color-coral-text);
    opacity: 0;
    transition: $transition;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;

    &_show {
      opacity: 1;
    }
  }
}
